---
layout: default
---

<!-- Wrapper-->
<div id="wrapper">

  <!-- Nav -->
  <nav id="nav">
    <a href="#me" class="icon fa-leaf active"><span>Welcome</span></a>
    <a href="#about" class="icon fa-terminal" aria-hidden="true"><span>About</span></a>
    <a href="#highlights" class="icon fa-asterisk"><span>Highlights</span></a>
    <a href="#work" class="icon fa-cube"><span>Work</span></a>
    <a href="#interlude" class="icon fa-play"><span>Interlude</span></a>
    <!--<a href="#blog" class="icon fa-lightbulb-o"><span>Blog</span></a>-->
    <a href="#contact" class="icon fa-sharp fa-light fa-at"><span>Contact</span></a>
    <a href="https://github.com/macrocosme" class="icon fa-github"><span>GitHub</span></a>
    <a href="https://www.linkedin.com/in/dany-vohl-2933028" class="icon fa-linkedin-square"><span>LinkedIn</span></a>
    <!--<a href="{{ site.baseurl }}/feed.xml" class="icon fa-rss"><span>Blog's RSS</span></a>-->
    <!--<a href="http://danyvohl.bandcamp.com/" class="icon fab fa-bandcamp"><span>Bandcamp</span></a>-->
  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Me -->
    <article id="me" class="panel">
      <header>
        <h1>Dany Vohl, PhD</h1>
        <!-- <p>
          Research Affiliate - <a href="https://astron.nl">ASTRON</a><br />
        </p> -->
      </header>
      <a href="#highlights" class="jumplink pic">
        <span class="arrow icon fa-chevron-right"><span>See my work</span></span>
        <img class="me" src="https://macrocosme.github.io/images/vohl-ozstar.jpg" alt="" />
      </a>
    </article>

    <article id="about" class="panel">
      <header>
        <h2>Foreword</h2>
      </header>

      <p class="preamble">
        Thank you for landing on my personal research site. If you do not readily know me, 
        here is a brief introduction to myself and my academic background.
      </p>
      <p class="preamble">
        I am a researcher operating in the fields of astronomy and astrophysics.
        I investigate questions related to high-energy (extra)(g/G)alactic astrophysics, compact objects (neutron stars, black holes), and stellar & galaxy formation and evolution.
        I am a specialist in scientific software design and implementation for data maneuver, visualization, and (statistical) analysis.
        I completed my doctoral research in Melbourne, Australia at the Centre for Astrophysics & Supercomputing, Swinburne University of Technology.
        I am now based in the Netherlands since 2018, with research at ASTRON, the Netherlands Institute for Radio Astronomy, and the Anton Pannekoek Institute for Astronomy at the University of Amsterdam. 
        I originate from Québec, Canada. My mother tongue is French, I commonly speak English, <i>en ik probeer Nederlands te leren</i>.
      </p>
      <p class="preamble">
        A list of my scientific publications, presentations, training material and software
        can be accessed under the work section.
      </p>
      <hr>
      <p class="preamble">
        In the hope that this page can be useful to some of you. <br />
        - D.V.<br />
      </p>
    </article>

    <!-- Highlights -->
    <article id="highlights" class="panel">
      <header>
        <h2>Research highlights</h2>
      </header>
      <div class="row">
      <p>
        <a href="https://www.nature.com/articles/s41586-021-03724-8" class="image fil"><img src="images/highlights/paper-highlights.001.jpeg" alt></a>
      </p>
      <p>
        <a href="https://www.aanda.org/articles/aa/full_html/2024/07/aa48621-23/aa48621-23.html" class="image fil"><img src="images/highlights/paper-highlights.003.jpeg" alt></a>
      </p>
      <p>
        <a href="https://www.aanda.org/articles/aa/abs/2023/12/aa46471-23/aa46471-23.html" class="image fil"><img src="images/highlights/paper-highlights.002.jpeg" alt></a>
      </p>
      <p>
        <a href="https://www.aanda.org/articles/aa/abs/2023/04/aa44107-22/aa44107-22.html" class="image fil"><img src="images/highlights/paper-highlights.004.jpeg" alt></a>
      </p>
      <p>
        <a href="https://ieeexplore.ieee.org/abstract/document/9111826/" class="image fil"><img src="images/highlights/paper-highlights.005.jpeg" alt></a>
      </p>
      <p>
        <a href="https://www.aanda.org/articles/aa/abs/2021/06/aa40164-20/aa40164-20.html" class="image fil"><img src="images/highlights/paper-highlights.006.jpeg" alt></a>
      </p>
      <p>
        <a href="https://www.cambridge.org/core/journals/publications-of-the-astronomical-society-of-australia/article/enabling-near-realtime-remote-search-for-fast-transient-events-with-lossy-data-compression/B1A5287ADCEFC9C62165097F36DB1897" class="image fil"><img src="images/highlights/paper-highlights.007.jpeg" alt></a>
      </p>
      <p>
        <a href="https://academic.oup.com/mnras/article/471/3/3323/3922864" class="image fil"><img src="images/highlights/paper-highlights.008.jpeg" alt></a>
      </p>
      <p>
        <a href="https://peerj.com/articles/cs-88/" class="image fil"><img src="images/highlights/paper-highlights.009.jpeg" alt></a>
      </p>
      <p>
        <div style="padding:56.25% 0 0 0; position:absolute;">
          <iframe src="https://player.vimeo.com/video/1022433788?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="encube : interactive 3D visual analysis of a set of galaxies in HI"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
      </p>
      </div>
    </article>

    <!-- Work -->
    <article id="work" class="panel">
      <header>
        <h2>Publications</h2>
        <small style="text-align:right;">
          <a class="icon fa-picture-o" aria-hidden="true"></a> image(s) &middot; figure(s)
          &nbsp;&nbsp;&nbsp;<a class="icon fa-film" aria-hidden="true"></a> video &middot; video series
          &nbsp;&nbsp;&nbsp;<a class="icon fa-github" aria-hidden="true"></a> source code
          &nbsp;&nbsp;&nbsp;<a class="icon fa-external-link" aria-hidden="true"></a> <a><u>external link</u></a>
        </small>
      </header>
      <hr>

      <header>
        <h2>Papers</h2>
      </header>
      <h3>A complete list of my scientific articles</H3> can be found via the <a href="https://ui.adsabs.harvard.edu/search/filter_author_facet_hier_fq_author=AND&filter_author_facet_hier_fq_author=author_facet_hier%3A%220%2FVohl%2C%20D%22&fq=%7B!type%3Daqp%20v%3D%24fq_author%7D&fq_author=(author_facet_hier%3A%220%2FVohl%2C%20D%22)&q=author%3A%22dany%20vohl%22&sort=date%20desc%2C%20bibcode%20desc&p_=0">Astrophysics Data System</a> 
      or via <a href="https://scholar.google.com/citations?user=VgE2lqMAAAAJ&hl=en">Google Scholar</a>.
      <hr>
      
      <header>
        <h2>Theses</h2>
      </header>
      <!-- <hr> -->
      <H3>PhD thesis</H3>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2018, Accelerating discovery in the petascale astronomy era. <i>Swinburne University of Technology</i>, Australia.
        <br />
        <a href="http://hdl.handle.net/1959.3/442128" class="icon fa-external-link"></a>
        <!-- if you're this interested, the following is for you. -->
        <!-- <br /><SPAN STYLE="background-color: WhiteSmoke"><b>Primary adviser</b></SPAN>
        <br /><a href="https://www.swinburne.edu.au/research/our-research/access-our-research/find-a-researcher-or-supervisor/researcher-profile/?id=cfluke">Prof Christopher J. Fluke</a> (Swinburne University of Technology, Australia)
        <br /><SPAN STYLE="background-color: WhiteSmoke"><b>Co-advisers</b></SPAN>
        <br /><a href="https://research.monash.edu/en/persons/david-barnes">A/Prof David G. Barnes</a> (Monash University, Australia)</i>
        <br /><a href="https://www.linkedin.com/in/amrhhassan">Dr Amr H. Hassan</a> (Swinburne University of Technology / Monash University, Australia)</i>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Examiners</b></SPAN>
        <br /><a href="https://www.cv.nrao.edu/~bkent/">Dr Brian Kent</a> (National Radio Astronomy Observatory, United States of America)
        <br /><a href="https://people.cs.uct.ac.za/~patrick/">A/Prof Patrick Marais</a> (University of Cape Town, South Africa)</i> -->
      </p>

      <H3>Master's thesis (French)</H3>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2013, Algorithmes de compression d'images hyperspectrales astrophysiques. <i>Universit&eacute; Laval</i>, Canada.
        <br />
        <a href="http://hdl.handle.net/20.500.11794/24459" class="icon fa-external-link"></a>
        <!-- if you're this interested, the following is for you. -->
        <!-- <br /><SPAN STYLE="background-color: WhiteSmoke"><b>Primary adviser</b></SPAN>
        <br /><a href="https://www.ift.ulaval.ca/~dadub100/">Prof Danny Dub&eacute;</a> (Universit&eacute; Laval, Canada)
        <br /><SPAN STYLE="background-color: WhiteSmoke"><b>Co-advisers</b></SPAN>
        <br /><a href="https://www.phy.ulaval.ca/departement-et-professeurs/personnel-et-professeurs/professeurs-reguliers/fiche/show/drissen-laurent/">Prof Laurent Drissen</a> (Universit&eacute; Laval, Canada)</i>
        <br /><SPAN STYLE="text-decoration:overline underline"><b>Examiners</b></SPAN>
        <br /><a href="https://www.ift.ulaval.ca/departement-et-professeurs/professeurs-et-personnel/professeurs-reguliers/fiche/show/gaudreault-jonathan/">Prof Jonathan Gaudreault</a> (Universit&eacute; Laval</i>, Canada)
        <br /><a href="https://www2.ift.ulaval.ca/~pgiguere/">Prof Philippe Giguère</a> (Universit&eacute; Laval</i>, Canada)-->
      </p>
      <hr>
      
      <header>
        <h2>Presentations</h2>
      </header>
      <!-- <hr> -->
      <H3>Talks</H3>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2024. "Topology of Pulsar Profiles: graph theory method and application to the EPN". Fundamental Physics in Radio Astronomy (FPRA) group journal club. Max Planck Institute for Radio Astronomy.
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2023. "Data in action: The Extreme Universe and Gravitational Waves". EOSC Future M24 Review Meeting, European Commission. online
        <br />
        <a href="https://eoscfuture.eu/data/the-extreme-universe-and-gravitational-waves/" class="icon fa-external-link"></a>
        <a href="https://eoscfuture.eu/eventsfuture/webinar-pan-european-digital-assets-supporting-research-communities-benefits-opportunities/" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2023. , 2023. "Seeking luminous compact radio sources in dwarf galaxies". Use cases from the EOSC community. online.
        <br />
        <a href="https://eoscfuture.eu/wp-content/uploads/2023/05/DanyVohl-EOSC-webinar.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2023. "A LOFAR sample of luminous compact radio sources coincident with nearby dwarf galaxies". LOFAR Family meeting. Olsztyn, Warmian-Masurian Voivodeship, Poland.
        <br />
        <a href="http://lfm2023.uwm.edu.pl" class="icon fa-external-link"></a>
        <a href="https://indico.astron.nl/event/309/contributions/3050/" class="icon fa-external-link"></a>
        <a href="http://lfm2023.uwm.edu.pl/sites/default/files/uploads/pre/Friday/2/5_vohl-lofar-family-meeting-2023.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2023. "matchmaker: Mining astronomical catalogues in Python". OSSR Collaboration meeting. Online.
        <br />
        <a href="https://indico.in2p3.fr/event/30171/?print=1&view=standard_inline_minutes" class="icon fa-external-link"></a>
        <a href="https://indico.in2p3.fr/event/30171/contributions/126001/attachments/78540/114602/20230615_E-OSSR_OnBoarding_Presentation_matchmaker.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2022. "Virtual Research Environment demo from ESCAPE Extreme Universe Test Science Project: Searching for FRB persistent radio source counterparts in dwarf galaxies using LOFAR". ESCAPE to the Future. Brussels, Belgium.
        <br />
        <a href="https://projectescape.eu/events/escape-future" class="icon fa-external-link"></a>
        <a href="https://projectescape.eu/sites/default/files/0%20COMPLETE_Extreme%20Universe_final.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Vedantham, H., Hessels, J., Bassa, C., 2022. "Characterizing over-luminous compact radio sources in dwarf galaxies". ASTRON Astrolunch series (2022) $\cdot$ Dwingeloo, Drenthe, Netherlands.
        <br />
        <a href="https://www.astron.nl" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Vedantham, H., Hessels, J., Bassa, C., 2022. "Searching for FRB persistent radio source counterparts in dwarf galaxies using LOFAR". International Astronomical Union General Assembly 2022 - IAUS 369 - The Dawn of Cosmology & Multi-Messenger Studies with Fast Radio Bursts. Busan, South Korea.
        <br />
        <a href="https://www.iauga2022.org/program/program_03.asp?sMenu=abo3" class="icon fa-external-link"></a>
        <a href="https://pulsarastronomy.net/IAUS369/" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Vedantham, H., Hessels, J., Bassa, C., 2022. "Searching for FRB persistent radio source counterparts in dwarf galaxies using LOFAR". LOFAR family meeting. Köln, Germany.
        <br />
        <a href="https://www.glowconsortium.de/index.php/en/lofar-family-meeting-2022" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2021. "Pulsar profiles from a graph perspective". European Astronomical Society annual meeeting. Special session 32b: Machine learning and visualisation in data intensive era. <SPAN STYLE="background-color: WhiteSmoke"><b>Invited</b></SPAN>.
        <br />
        <a href="https://eas.kuoni-congress.info/2021/programme/abstract/2787" class="icon fa-external-link"></a>
        <a href="https://zenodo.org/record/7704065" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2021. "Exploring pulsar profiles at population scale from a graph theory perspective". SKA science conference: A precursor view of the SKA Sky.
        <br />
        <a href="https://skao.eventsair.com/science21/speakers-list" class="icon fa-external-link"></a>
        <a href="https://zenodo.org/record/7703943" class="icon fa-external-link"></a>
      </p>
      <p>
        Adams, E. A.,  Adebahr, B.,  Connor, L.,  De Blok, E.,  Dénes, H.,  Hess, K.,  Kutkin, A.,  Lucero, D.,  Maan, Y., Morganti, R.,  Moss, V.,  Oosterloo, T.,  Oostrum, L.,  Orrù, E.,  Petroff, E.,  Schulz, R.,  van der Hulst, J., van Leeuwen, J.,  Verheijen, M.,  <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Apertif Team. 2020. "The Apertif Surveys: The First Six Months". American Astronomical Society meeting #235, id. 136.07. Bulletin of the American Astronomical Society, Vol. 52, No. 1.
        <br />
        <a href="https://ui.adsabs.harvard.edu/abs/2020AAS...23513607A/abstract" class="icon fa-external-link"></a>
      </p>
      <p>
          Sclocco, A., <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, van Nieuwpoort, R., 2019, "Real-Time RFI Mitigation for
          the Apertif Radio Transient System", presented at <a href="https://rfi2019.sciencesconf.org">Radio Frequency Interference workshop (RFI 2019): Coexisting with Radio Frequency Interference</a>, Toulouse, France. (Co-presentation with A. Sclocco)
          <br />
          <a href="http://www.ursi.org/proceedings/2019/rfi2019/23a5.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2019, “Visual analytics algorithms for multidimensional astronomical data”, presented at <a href="https://eas.unige.ch/EWASS2019/index.jsp">European Week of Astronomy and Space Science (EWASS) 2019</a>, Lyon, France.
        <br />
        <a href="https://www.youtube.com/watch?v=z0Z4Y0Mqv_U&list=PL-BUgkLx3tUg3jBsLlKqtoAlPjVbe4JEN" class="icon fa-film popup-youtube-list"></a>
        <a href="https://zenodo.org/record/3257153#.XRe9Zi3L3xs" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2018, “New approaches to Volume and Velocity challenges of Modern Astronomy”, presented at <a href="http://astroinformatics2018.h-its.org/">Astroinformatics 2018</a>, HITS, Heidelberg, Germany. <SPAN STYLE="background-color: WhiteSmoke"><b>Invited</b></SPAN>.
        <br />
        <a href="https://www.youtube.com/watch?v=kRRyWPbZXg0" class="icon fa-film popup-youtube"></a>
        <a href="https://zenodo.org/record/1420095#.W6DnIy3L3GJ" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2018, “Shwirl: Colouring Spectral Cube”, Lightning talk presented at <a href="http://openastronomy.org/pyastro/2018/">Python in Astronomy 2018</a>, CCA, Flatiron Institute, New York City, USA.
        <br />
        <a href="https://zenodo.org/record/1246284#.WviztdOFOL8" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2016, “Real-time Spectral Cube Colouring and Processing with Graphics Shaders”, Presented at <a href="http://astroinformatics2017.ska.ac.za/">Astroinformatics 2017</a>, Cape Town, South Africa.
        <br />
        <a href="https://speakerdeck.com/macrocosme/real-time-spectral-cube-colouring-and-processing-with-graphics-shaders-presented-at-astroinformatics-2017-cape-town-south-africa" class="icon fa-external-link"></a>
      </p>
      <p>
        Sommer, B., Barnes D. G., Boyd, S., Chandler, T., Cordeil, M., Klein, K., Nguyen, T. D., Nim, H.,
        Stephens, K., <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Wilson, E., McCormack, J., Mariott, K., Schreiber, F. 2017.
        "3D-Stereoscopic Immersive Analytics Projects at Monash University and University of Konstanz",
        To be presented at <a href="http://www.stereoscopic.org/2017/">the Stereoscopic Displays and Applications 2017 Conference</a>,
        San Francisco, USA.
        <br />
        <a href="https://www.youtube.com/watch?v=RB7-4LsbrN8&index=27&list=PLoksP178KYM5OZh7Bw4aSz0aXV3KK20v-" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Fluke, C. J., Hassan, A. H., Barnes, D. G., Kilborn, V. A., 2016, “Collaboration, Visual Analytics and the Cloud in the Big Survey Era”, Presented at <a href="http://www.atnf.csiro.au/people/Baerbel.Koribalski/3D-Visualisation/Sydney2016.html">Australia Telescope National Facility 3D Visualisation Workshop 2016</a>, Marsfield, Australia.
        <br />
        <a href="https://speakerdeck.com/macrocosme/collaborative-visual-analytics-of-radio-surveys-in-the-big-data-era" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2016, “Colouring redshift and velocity: a novel visual cue to inspect spectral
        cubes in real-time”, Presented at <a href="http://www.atnf.csiro.au/people/Baerbel.Koribalski/3D-Visualisation/Sydney2016.html">Australia Telescope National Facility 3D Visualisation Workshop 2016</a>, Marsfield, Australia.
        <!--a href="https://speakerdeck.com/macrocosme/collaborative-visual-analytics-of-radio-surveys-in-the-big-data-era" class="icon fa-external-link"></a-->
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Fluke, C. J., Hassan, A. H., Barnes, D. G., Kilborn, V. A., 2016, “Collaborative visual analytics of radio surveys in the Big Data era”, Presented at <a href="http://dame.dsf.unina.it/astroinformatics2016.html">International Astronomical Union Symposium 325 - Astroinformatics</a>, Sorrento, Italy.
        <br />
        <a href="http://dame.dsf.unina.it/astroinformatics2016/lectures/DanyVohl-astroinformatics.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Fluke, C. J., Hassan, A. H., Barnes, D. G., 2016, “Colouring redshift and velocity: a novel visual cue to inspect volumetric data in Astronomy”, Presented at <a href="http://www.roma1.infn.it/conference/GPU2016">Perspectives of GPU computing in Science</a> conference, Rome, Italy.
        <br />
        <a href="https://speakerdeck.com/macrocosme/colouring-redshift-and-velocity-a-novel-visual-cue-to-inspect-volumetric-data-in-astronomy" class="icon fa-external-link"></a>
      </p>
      <p>
        Drijfhout, M., Kendal, D., <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Green, P., 2016. “Quantitatively exploring sentiments in a heated conservation debate: How do we feel about culling koalas?”, Presented by M.D. at the Society for Conservation Biology 4th Oceania Congress, Brisbane, Australia. <SPAN STYLE="background-color: WhiteSmoke"><b>Honourable mention</b></SPAN>.
        <br />
        <a href="http://brisbane2016.scboceania.org/sessions/integrative-interdisciplinary-approaches-to-conservation-social-economic-ecology-science-interface/" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2015, “Astronomy in the Petascale Data Era: storage, transfer and visualization”, Presented at <a href="http://dotastronomy.com/events/seven/">.Astronomy7</a> conference, Sydney, Australia. <SPAN STYLE="background-color: WhiteSmoke"><b>Invited</b></SPAN>.
        <br />
        <a href="https://speakerdeck.com/macrocosme/dany-vohl-astronomy7-astronomy-in-the-petascale-data-era-storage-transfer-and-visualization" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Quimper, C.-G., Dub&eacute;, D., 2012. “Finding Synchronization Codes to Boost Compression by Substring Enumeration”. Presented at the Eleventh International Workshop on Constraint Modelling and Reformulation (ModRef 2012), held at <a href="http://www.cmears.id.au/modref2012/">the 18th International Conference on the Principles and Practice of Constraint Programming (CP 12)</a>, Qu&eacute;bec, Canada.
        <br />
        <a href="https://speakerdeck.com/macrocosme/finding-synchronization-codes-to-boost-compression-by-substring-enumeration" class="icon fa-external-link"></a>
      </p>

      <H3>Posters</H3>
      <!-- <hr> -->
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2024. “ToPP! Topology of Pulsar Profiles”, Presented at the Netherlands Astronomer conference, Egmond aan Zee, The Netherlands.
        <br />
        <a href="https://macrocosme.github.io/nac2024/dvohl-macrocosme-topp.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2023. “Topology of Pulsar Profiles”, Presented at the Science at Low Frequencies, Amsterdam, The Netherlands.
        <br />
        <a href="https://salfconference.org" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2023. “A LOFAR sample of luminous compact radio sources coincident with nearby dwarf galaxies”, Presented at the Science at Low Frequencies, Amsterdam, The Netherlands.
        <br />
        <a href="https://salfconference.org" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2023. Idem, Presented at FRB2023. Online.
        <br />
        <a href="https://indico.frb2023.org/event/1/attachments/1/8/book_of_abstracts.pdf" class="icon fa-external-link"></a>
        <a href="https://sites.google.com/iiserb.ac.in/frb-2023-posters" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2019. “ARTS real-time interference mitigation efforts to enable efficient search for Fast Radio Bursts”, Presented at the Nederlandse Astronomenconferentie (Dutch Astronomers' conference), Groningen, The Netherlands.
        <br />
        <a href="https://macrocosme.github.io/images/nac2019.jpg" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2019. “ARTS real-time interference mitigation efforts to enable efficient search for Fast Radio Bursts”, Presented at the Nederlandse Astronomenconferentie (Dutch Astronomers' conference), Groningen, The Netherlands.
        <br />
        <a href="https://macrocosme.github.io/images/nac2019.jpg" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Fluke, C.J., Hassan, A.H., Barnes, D.G., V.A. Kilborn. 2016. “Collaborative visual analytics of large radio surveys”, Presented at the twenty-sixth annual Astronomical Data Analysis Software and Systems Conference, Trieste, Italy.
        <br />
        <a href="http://www.adass2016.inaf.it/images/posters/vohl.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Fluke, C.J., Barnes, D.G., Hassan, A.H. 2015. “An interactive, comparative and quantitative 3D visualisation system for large-scale spectral-cube surveys using CAVE2”, Presented at the twenty-fifth annual Astronomical Data Analysis Software and Systems Conference, Sydney, Australia.
        <br />
        <a href="https://drive.google.com/file/d/0B2DF-fU7AGOfNmJSamJqSWhEc1U/view?usp=sharing" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Fluke, C. J., Vernardos, G. 2014, “Should I compress my data or throw it away?”, Presented at the Astronomical Society of Australia (ASA) Annual Scientific Meeting, Sydney, Australia.
      </p>

      <hr>
      <header>
        <h2>Educative material</h2>
      </header>
      <!-- <hr> -->
      <h3>Webinars</h3>
      <!-- <hr> -->
      <p>
        "Data in action: The Extreme Universe and Gravitational Waves" is a video demonstration on how to access European cloud compute and storage resources, and access public data with <i>EOSC marketplace</i> (with EOSC standing for European Open Science Cloud).
        <a href="https://eoscfuture.eu/data/the-extreme-universe-and-gravitational-waves/" class="icon fa-external-link"></a>
      </p>
      <p>
        "Computing for astronomers": a series developed by Astronomy Data and Computing Services in 2017 and 2018 (<a href="https://www.youtube.com/channel/UC1jqQyjFK2rzSD_3BIvCyMw">ADACS YouTube channel</a> <a href="https://www.youtube.com/channel/UC1jqQyjFK2rzSD_3BIvCyMw" class="icon fa-external-link"></a>)
         Listed below are the webinars I made on the theme. 
        <!-- <ol>
          <li> <a href="https://www.youtube.com/watch?v=ecszpNzHG4g&list=PL7kL5D8ITGyUHrovpkA9D0esjocDrDk_A" class="icon fa-film popup-youtube-list"Introduction to Structured Query Language (SQL)</a> </li>
          <li> <a href="https://www.youtube.com/watch?v=rpuyUvso3jA&list=PL7kL5D8ITGyX7tBJ0W4GvqzLLBxMbizC_" class="icon fa-film popup-youtube-list"Scientific Data Visualization with Python</a> </li>
          <li> <a href="https://www.youtube.com/watch?v=AkxbbRQ3TK4&list=PL7kL5D8ITGyX-C5DNmbhPcoinmyJQFLUa" class="icon fa-film popup-youtube-list"Introduction to Version Control with Git</a> </li>
          <li> <a href="https://www.youtube.com/watch?v=tFivszE451Y&list=PL7kL5D8ITGyX0qeoymlanZgXfgJGRvSD3" class="icon fa-film popup-youtube-list"Introduction to MPI</a> </li>
          <li> <a href="https://www.youtube.com/watch?v=9zhfjvHu_MY&list=PL7kL5D8ITGyXMiyQsQ-yU6Gyu4eOQR-GD" class="icon fa-film popup-youtube-list"Introduction to HDF5</a> </li>
          <li> <a href="https://www.youtube.com/watch?v=YP42k3J08_o&list=PL7kL5D8ITGyV7zeT-oADweFKHsZNh3tKV" class="icon fa-film popup-youtube-list"Introduction to astropy</a> </li>
          <li> <a href="https://www.youtube.com/watch?v=hFmhypXg7JA&list=PL7kL5D8ITGyXDJYyms0rjzt9o-wDg-rKQ" class="icon fa-film popup-youtube-list"IVOA Table Access Protocol</a> </li>
          <li> <a href="https://www.youtube.com/watch?v=K_JIPrcPHCg&list=PL7kL5D8ITGyUO4_x5EvVmZ6_NBV0RnDF-" class="icon fa-film popup-youtube-list"Introduction to Slurm</a> </li>
        </ol> -->
        <p>
          Introduction to Structured Query Language (SQL).
          <a href="https://www.youtube.com/watch?v=ecszpNzHG4g&list=PL7kL5D8ITGyUHrovpkA9D0esjocDrDk_A" class="icon fa-film popup-youtube-list"></a>
        <br />
          Scientific Data Visualization with Python.
          <a href="https://www.youtube.com/watch?v=rpuyUvso3jA&list=PL7kL5D8ITGyX7tBJ0W4GvqzLLBxMbizC_" class="icon fa-film popup-youtube-list"></a>
        <br />
          Introduction to Version Control with Git.
          <a href="https://www.youtube.com/watch?v=AkxbbRQ3TK4&list=PL7kL5D8ITGyX-C5DNmbhPcoinmyJQFLUa" class="icon fa-film popup-youtube-list"></a>
        <br />
          Introduction to MPI.
          <a href="https://www.youtube.com/watch?v=tFivszE451Y&list=PL7kL5D8ITGyX0qeoymlanZgXfgJGRvSD3" class="icon fa-film popup-youtube-list"></a>
        <br />
          Introduction to HDF5.
          <a href="https://www.youtube.com/watch?v=9zhfjvHu_MY&list=PL7kL5D8ITGyXMiyQsQ-yU6Gyu4eOQR-GD" class="icon fa-film popup-youtube-list"></a>
        <br />
          Introduction to astropy.
          <a href="https://www.youtube.com/watch?v=YP42k3J08_o&list=PL7kL5D8ITGyV7zeT-oADweFKHsZNh3tKV" class="icon fa-film popup-youtube-list"></a>
        <br />
          IVOA Table Access Protocol.
          <a href="https://www.youtube.com/watch?v=hFmhypXg7JA&list=PL7kL5D8ITGyXDJYyms0rjzt9o-wDg-rKQ" class="icon fa-film popup-youtube-list"></a>
        <br />
          Introduction to Slurm.
          <a href="https://www.youtube.com/watch?v=K_JIPrcPHCg&list=PL7kL5D8ITGyUO4_x5EvVmZ6_NBV0RnDF-" class="icon fa-film popup-youtube-list"></a>
        </p>
      </p>
      

      <h3>Tutorials</h3>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2017, “Data Visualization with Python”, Presented at <a href="https://asa-anita.github.io/workshop2017/school.html">ANITA 2017 Astroinformatics school</a>, Hobart, Australia.
        <br />
        <a href="https://github.com/macrocosme/macrocosme.github.io/tree/master/python-viz" class="icon fa-github"></a>
        
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2017, “Introduction to version control with git”, Presented at <a href="https://asa-anita.github.io/workshop2017/school.html">ANITA 2017 Astroinformatics school</a>, Hobart, Australia. Formatted and edited from work by Mutch (2013).
        <br />
        <a href="https://macrocosme.github.io/GitTutorial-anita-astroinformatics-school-2017/" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2015, “Introduction to Relational Databases with SQL for .Astronomy7”, Presented at <a href="http://dotastronomy.com/events/seven/">.Astronomy7</a> conference, Sydney, Australia.
        <br />
        <a href="https://macrocosme.github.io/dotastronomy_seven.html" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2015, “Introduction to Relational Databases with SQL”, Presented at <a href="http://www.thehackerwithin.org/swinburne/posts/databases01/">the Hacker Within</a>, Swinburne University of Technology, Hawthorn, Australia.
        <br />
        <a href="https://macrocosme.github.io/db_sql.html" class="icon fa-external-link"></a>
      </p>

      <hr>
      <header>
        <h2>Software</h2>
      </header>
      <!-- <hr> -->
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2023. matchmaker.
        <a href="https://doi.org/10.5281/zenodo.7986693" class="icon fa-github"></a>
      </p>
      <p>
        Maan, Y., J. van Leeuwen, <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2020. RFIClean: Periodic RFI cleaning, described in <a href="https://arxiv.org/abs/2012.11630">Maan, van Leeuwen and Vohl. arXiv, 2020</a>.
        <a href="https://github.com/ymaan4/RFIClean" class="icon fa-github"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2020. CHIME repeaters observer.
        <a href="https://github.com/macrocosme/chime_repeaters_observer/" class="icon fa-github"></a>
      </p>
      <p>
        Sclocco, A., <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2020. RFIm: real-time RFI mitigation, described in <a href="https://ieeexplore.ieee.org/abstract/document/9111826">Sclocco, Vohl and van Nieuwpoort, RFI, 2019</a>.
        <a href="https://github.com/TRASAL/RFIm" class="icon fa-github"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2019. Time-domain astronomy sandbox.
        <a href="https://github.com/macrocosme/time_domain_astronomy_sandbox/" class="icon fa-github"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, 2019. amber_meta.
        <a href="https://github.com/macrocosme/amber_meta/" class="icon fa-github"></a>
      </p>
      <p>
        Saleheen S., Lakerink, L., and <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2018. ADACS-SS18B-PLasky.
        <a href="https://github.com/ADACS-Australia/SS18B-PLasky/" class="icon fa-github"></a>&nbsp;<a href="https://adacs.org.au/project/bilby/" class="icon fa-external-link"></a>
      </p>
      <p>
        Saleheen S., and <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2018. ADACS-SS18A-JBanfield.
        <a href="https://github.com/ADACS-Australia/SS18A-JBanfield/" class="icon fa-github"></a>
        <span class="popup-gallery">
          {% assign paper_files = "splash,backend,start,active_label,save_continue" | split: "," %}
          {% assign first = 1 %}
          {% for paper_file in paper_files %}
            <a href="https://macrocosme.github.io/images/publications/2018/saleheen_vohl/banfield_2018_{{ paper_file }}.jpg"
               title="{{ paper_file }}"
               authors="Saleheen & Vohl (2018)"
               {% if first == 1 %} class="fa fa-picture-o" aria-hidden="true" {% endif %}>
            </a>
            {% assign first = 0 %}
          {% endfor %}
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Saleheen S., and Lakerink, L. 2017. ADACS-GBKFIT.
        <a href="https://github.com/ADACS-Australia/ADACS-GBKFIT" class="icon fa-github"></a>&nbsp;
        <span class="popup-gallery">
          {% assign paper_files = "splash,workflow,results" | split: "," %}
          {% assign first = 1 %}
          {% for paper_file in paper_files %}
            <a href="https://macrocosme.github.io/images/publications/2017/vohl+/vohl+_2017_{{ paper_file }}.jpeg"
               title="{{ paper_file }}"
               authors="Vohl, Saleheen, Lakerink (2017)"
               {% if first == 1 %} class="fa fa-picture-o" aria-hidden="true" {% endif %}>
            </a>
            {% assign first = 0 %}
          {% endfor %}
        </span>&nbsp;<a href="https://adacs.org.au/2017/12/13/simplifying-access-to-high-performance-galaxy-modelling/" class="icon fa-external-link"></a>
        </span>&nbsp;<a href="" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN> 2017. “shwirl”, described in <a href="https://academic.oup.com/mnras/article-abstract/doi/10.1093/mnras/stx1676/3922864/Realtime-colouring-and-filtering-with-graphics">Vohl et al., MNRAS, 2017</a>.
        <a href="https://github.com/macrocosme/shwirl" class="icon fa-github"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Barnes, D. G., Fluke, C. J., Benovitski, Y., Kaluza, O. L., Nguyen, T. D. 2016. encube, described in <a href="https://peerj.com/articles/cs-88/">Vohl et al., PeerJ Computer Science, 2016</a>.
        <a href="https://github.com/mivp/encube" class="icon fa-github"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>. 2015. KERLUMPH, described in <a href="http://adsabs.harvard.edu/abs/2015A%26C....12..200V">Vohl, Fluke and Vernardos, A&C, 2015</a>.
        <a href="https://gerlumph.swin.edu.au/Kerlumph/" class="icon fa-external-link"></a>
      </p>
      <p>
        <SPAN STYLE="background-color: WhiteSmoke"><b>Vohl, D.</b></SPAN>, Quimper, C.-G., Dub&eacute;, D. 2012. OPB files, a series of Pseudo-Boolean Optimization (PBO) hard instances, and related code, described in <a href="https://www.researchgate.net/publication/255708267_Finding_Synchronization_Codes_to_Boost_Compression_by_Substring_Enumeration">Vohl, Quimper, Dub&eacute;e. ModRef, 2012</a>. <a href="https://github.com/macrocosme/finding_synchronization_codes" class="icon fa-github"></a>
        <br />* This dataset is available for use as benchmark, as was previously by the <a href="http://www.cril.univ-artois.fr/PB16">International Pseudo-Boolean Solver Competition</a>. <a href="http://www.cril.univ-artois.fr/PB16/PB16.pdf" class="icon fa-external-link"></a>
      </p>
      <p>
        I contributed to diverse software and websites as software developer at the start of my profesional life. Among others, I have contributed to <a href="http://efauna.bc.ca">E-Fauna</a> and <a href="http://eflora.bc.ca">E-Flora</a>, two online atlases about the wilderness of British-Columbia, Canada.
      </p>
    </article>

    <!-- Music -->
    <article id="interlude" class="panel">
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/924525033?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Dany Vohl - Multiverse"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </article>
    

    <!-- Blog -->
    <!--<article id="blog" class="panel">-->
      <!--<h2>Research blog</h2>-->
      <!--<h3>Unpolished thoughts, unpolished writing</h3>-->

      <!--<div class="posts">-->
        <!--{% for post in site.posts %}-->
        <!--<hr>-->
        <!--<article class="post">-->

          <!--<h3>{{ post.title }}</h3>-->
          <!--<div class="date">-->
            <!--{{ post.date | date: "%B %e, %Y" }}-->
          <!--</div>-->

          <!--<p>-->
            <!--{{ post.excerpt }}-->
            <!--<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>-->
          <!--</p>-->

        <!--</article>-->
        <!--{% endfor %}-->
      <!--</div>-->
    <!--</article>-->

    <!-- Contact -->
    <article id="contact" class="panel">
      <header>
        <h2>Contact</h2>
      </header>
      <form action="https://formspree.io/danyvohl@gmail.com" method="post">
        <div>
          <div class="row">
            <div class="6u 12u$(mobile)">
              <input type="text" name="name" placeholder="Name" />
            </div>
            <div class="6u$ 12u$(mobile)">
              <input type="text" name="email" placeholder="Email" />
            </div>
            <div class="12u$">
              <input type="text" name="subject" placeholder="Subject" />
            </div>
            <div class="12u$">
              <textarea name="message" placeholder="Message" rows="8"></textarea>
            </div>
            <div class="12u$">
              <input type="submit" value="Send Message" />
            </div>
          </div>
        </div>
      </form>
    </article>

    <!-- Music -->
    <!--article id="music" class="panel">
      <iframe style="width: 100%;" height="600" src="https://www.youtube.com/embed/wMQFrGhNUtM" frameborder="0" allowfullscreen></iframe>
      <hr style="border-top: 1px solid #fff;">
      <h2>Publications</h2>
      <hr>
      <p>
        <iframe style="padding-left: 2.5em; border: 0; width: 100%; height: 150px;" src="https://bandcamp.com/EmbeddedPlayer/album=4082617877/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true/" seamless><a href="http://danyvohl.bandcamp.com/album/our-common-future-2">Our Common Future by Dany Vohl</a></iframe>
        <iframe style="padding-left: 2.5em; border: 0; width: 100%; height: 150px;" src="https://bandcamp.com/EmbeddedPlayer/album=3420133560/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true/" seamless><a href="http://danyvohl.bandcamp.com/album/blanche-ep">Blanche EP by Dany Vohl</a></iframe>
        <iframe style="padding-left: 2.5em; border: 0; width: 100%; height: 150px;" src="https://bandcamp.com/EmbeddedPlayer/album=2604503545/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true/" seamless><a href="http://danyvohl.bandcamp.com/album/minor-swing">Minor Swing by Dany Vohl</a></iframe>
        <iframe style="padding-left: 2.5em; border: 0; width: 100%; height: 150px;" src="https://bandcamp.com/EmbeddedPlayer/album=3233035900/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true/" seamless><a href="http://danyvohl.bandcamp.com/album/transit">Transit by Macrocosme</a></iframe>
        <iframe style="padding-left: 2.5em; border: 0; width: 100%; height: 150px;" src="https://bandcamp.com/EmbeddedPlayer/album=1666018348/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true/" seamless><a href="http://danyvohl.bandcamp.com/album/astrocyte">Astrocyte by Dany Vohl</a></iframe>
        <iframe style="padding-left: 2.5em; border: 0; width: 100%; height: 150px;" src="https://bandcamp.com/EmbeddedPlayer/album=1814041621/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://danyvohl.bandcamp.com/album/quest-ce-que-le-faux">Qu&#39;est-ce que le faux? by Dany Vohl</a></iframe>
      </p>

      <h2>Collaboration/Compilation</h2>
      <hr>
      <iframe style="padding-left: 2.5em; border: 0; width: 100%; height: 150px;" src="https://bandcamp.com/EmbeddedPlayer/album=1510853918/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true//" seamless><a href="http://oromoctodiamond.bandcamp.com/album/le-choc-doromocto">Le Choc D&#39;Oromocto by Oromocto Diamond</a></iframe>
      <iframe style="padding-left: 2.5em; border: 0; width: 100%; height: 150px;" src="https://bandcamp.com/EmbeddedPlayer/album=2171017051/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true//" seamless><a href="http://p572.bandcamp.com/album/p572-compilation-3">P572 Compilation #3 by P572</a></iframe>

    </article-->

  </div>


</div>
