<!DOCTYPE HTML>
<html>
<head>
  <title>Dany Vohl</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="https://macrocosme.github.io/assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="https://macrocosme.github.io/assets/css/main.css" />
  <link rel="stylesheet" href="https://macrocosme.github.io/assets/css/prism.css" />
  <link rel="stylesheet" href="https://macrocosme.github.io/assets/css/magnific-popup.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <noscript><link rel="stylesheet" href="https://macrocosme.github.io/assets/css/noscript.css" /></noscript>
  <!--[if lte IE 8]><link rel="stylesheet" href="https://macrocosme.github.io/assets/css/ie8.css" /><![endif]-->


</head>
<body>

{{ content }}

<!-- Footer -->
<div id="footer">
    <ul class="copyright">
        <li>&copy; Dany Vohl, 2015-<script>document.write(new Date().getFullYear())</script>. All right reserved.</li><li>Scaffold: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</div>

<!-- Scripts -->
<script src="https://macrocosme.github.io/assets/js/jquery.min.js"></script>
<script src="https://macrocosme.github.io/assets/js/skel.min.js"></script>
<script src="https://macrocosme.github.io/assets/js/skel-viewport.min.js"></script>
<script src="https://macrocosme.github.io/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="https://macrocosme.github.io/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="https://macrocosme.github.io/assets/js/main.js"></script>
<script src="https://macrocosme.github.io/assets/js/prism.js"></script>
<script src="https://macrocosme.github.io/assets/js/jquery.magnific-popup.js"></script>
<script src="https://macrocosme.github.io/assets/js/customs.js"></script>
<!-- <script id="dsq-count-scr" src="//macrocosme.disqus.com/count.js" async></script> -->
<script>
{% include analytics.html %}
</body>
</html>
