---
layout: default
comments: true
---
<br /><br />
<!-- Wrapper-->
<div id="wrapper">
  <!-- Nav -->
  <nav id="nav">
    <a href="http://macrocosme.github.io/#blog" class="icon fa fa-arrow-left"><span>Back</span></a>
    <a href="#blog" class="icon fa-rss-square active"><span>Post</span></a>
  </nav>

  <!-- Main -->
  <div id="main">
    <article id="blog" class="panel">
      <h1>{{ page.title }}</h1>
      <p>
        {{ content }}
        Written on {{ page.date | date: "%B %e, %Y" }}
      </p>
      <div class="comments">
        {% include disqus.html %}
      </div>
    </article>

  </div>

</div>
