---
layout: default
comments: true
---

<div id="wrapper">

  <nav id="nav">
    <a href="#me" class="icon fa-male active"><span>About</span></a>
    <a href="#work" class="icon fa-paper-plane"><span>Work</span></a>
    <a href="#blog" class="icon fa-rss-square"><span>Blog</span></a>
    <a href="#contact" class="icon fa-envelope"><span>Contact</span></a>
    <a href="https://github.com/macrocosme" class="icon fa-github"><span>GitHub</span></a>
    <a href="https://scholar.google.com.au/citations?user=VgE2lqMAAAAJ&hl=en" class="icon fa-google"><span>Scholar</span></a>
    <a href="https://au.linkedin.com/in/dany-vohl-2933028" class="icon fa-linkedin-square"><span>LinkedIn</span></a>
  </nav>

  <div id="main">
    <article id="blog" class="panel">
      <h1>{{ page.title }}</h1>

      <div class="entry">
        {{ content }}
      </div>

      <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
      </div>

      {% include disqus.html %}
    </article>
  </div>

  <!-- Footer -->
  <div id="footer">
    <ul class="copyright">
      <li>&copy; Dany Vohl, 2015.</li><li>Scaffold: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</div>
